[DEVICE]
Name=P33EP512MU810
Clock=48000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_Tamper_DSPIC.c
[HEADERS]
Count=2
File0=Click_Tamper_config.h
File1=Click_Tamper_types.h
[PLDS]
Count=1
File0=Click_Tamper.pld

